.footer{
    min-height: 100px;
    background: lightblue;
    position: relative;
}

.footer span{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding: 5px;
    background: rgb(88, 155, 197);
}